<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Never Saw Me</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 id="title">You Never Saw Me</h1>
        <p id="subheader">Speedrun Your Data Privacy Settings</p>
        
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Enter website">
            <button id="thebutton">Search</button>
        </div>
        
        <div id="results"></div>
    </div>
    <script src="../static/js/search.js"></script> 
</body>
</html>